# {{ ansible_managed }}
[global]
   workgroup = WORKGROUP
   netbios name = RADIO-MAIN
   security = user
   encrypt passwords = yes
   smb passwd file = /etc/samba/smbpasswd
   interfaces = eth0

[common]
    comment = General files
    path = /srv/common/
    browseable = yes
    writeable = yes
    create mask = 0775
    force create mode = 0775
    locking = yes

[logs]
    comment = Audio logs
    path = /srv/logs/
    browseable = yes
    writeable = no

[music]
    comment = Music database
    path = /srv/music/
    browseable = yes
    writeable = yes
    create mask = 0775
    force create mode = 0775
    locking = yes
