# {{ ansible_managed }}
# Emails the technician in charge of the server if any drive reports an issue
# Runs short test every day at 3am and long test every Sunday at 4am
# Log if temperature reaches 35 degress C and warn when it reaches 40 degress C

DEVICESCAN -a -s (S/../.././03|L/../../7/04) -m {{ monitor_email }} -W 4,35,40 -M exec /usr/local/bin/smartdnotify 
