# {{ ansible_managed }}
auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
        address 10.0.3.{{ ip }}
        netmask 255.255.255.0
        gateway 10.0.3.1
        dns-nameserver 10.0.3.1
