#!/bin/bash
# {{ ansible_managed }}
# Takes a snapshot of the volume and replicates it over to a second host
set -e

export PATH=/sbin:$PATH

RUNNING_BACKUPS=$(ps aux | grep 'zfs send' | grep -v grep) || true

if [ -n "$RUNNING_BACKUPS" ]; then
    # Backup currently running
    echo "Backup currently running, exiting new run"
    exit 0
fi

REMOTE={{ backup_url }}

CONTAINERS=$(ssh root@$REMOTE lxc-ls)

SNAPSHOTS=$(zfs list -t snapshot | grep data@sn2) || true

if [ -n "$SNAPSHOTS" ]; then
    # Handle the case of an interrupted backup by destroying the
    # partial backup and starting again
    echo "Destroying partial backup..."
    zfs destroy -r data@sn2
fi

echo "Taking snapshot..."
zfs snapshot -r data@sn2
echo "Sending snapshot..."
zfs send -R -i sn1 data@sn2 | ssh root@$REMOTE zfs recv -F -d data

echo "Restarting backup server services"
for CON_NAME in $CONTAINERS; do
    ssh root@$REMOTE "lxc-stop -n $CON_NAME"
done

ssh root@$REMOTE zfs rollback -R data@sn2

for CON_NAME in $CONTAINERS; do
    ssh root@$REMOTE "lxc-start -n $CON_NAME"
done

# Destroy will fail if this is the first snapshot of the system
ssh root@$REMOTE "zfs destroy -r data@sn1 || true; zfs rename -r data@sn2 data@sn1"

# This will fail if this is the first snapshot of the system
zfs destroy -r data@sn1 || true
zfs rename -r data@sn2 data@sn1
